<footer class="border-t border-gray-400">
  <div class="bg-black py-14 sm:py-14">
    <div class=" mx-auto max-w-7xl px-6 ">
      <p class="text-center  font-semibold leading-8 text-white text-3xl">❜ Trusted by the world’s most innovative teams ❜</p>
      <div class="mx-auto my-20 grid max-w-lg grid-cols-6 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-6">
        <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-2" src="../../assets/img/espritfooter.png" alt="Transistor" width="158" height="48">
        <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-2" src="../../assets/img/LinguoFooter.png" alt="Reform" width="158" height="48">
        <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-2" src="../../assets/img/1WAYfooter.png" alt="Tuple" width="158" height="48">
      </div>
      <p class=" text-center  font-sans leading-8 text-white text-sm">Copyright © 2024 Linguo, All Rights Reserved</p>
    </div>
  </div>
  </footer>
  