<footer class="my-0 bg-black">
  <div class="bg-black py-5 sm:py-5">
    <div class=" ">
      
      <div class="grid  grid-cols-3">
        <img class="justify-self-start ml-44" src="../../assets/img/espritfooter.png" alt="Esprit" style="width: 89px; height: auto;">
        <img class="justify-self-center" src="../../assets/img/LinguoFooter.png" alt="Linguo" style="width: 89px; height: auto;">
        <img class="justify-self-end mr-44" src="../../assets/img/1WAYfooter.png" alt="1way-dev" style="width: 89px; height: auto;">
      </div>
      <p class="text-center font-sans leading-8 text-white text-xs">Copyright © 2024 LINGUO Ltd, All Rights Reserved</p>
    </div>
  </div>
</footer>
