<div class="h-screen bg-black flex justify-center items-center">
    <div class="max-w-md p-4 bg-transparent rounded-lg shadow-lg text-white">
      <div class="text-center mb-2">
        <img src="assets/wolf.png" alt="Linguo Logo" class="w-32 h-32 mx-auto">
        <h2 class="text-3xl font-bold">About This Application</h2>
      </div>
      <div class="mb-2">
        <p>This application is designed to provide advanced text and audio processing tools, including emotion recognition, named entity recognition, text punctuation, and more. Developed by Mohamed BEN ALI, a Data Scientist and Speech Scientist, it leverages state-of-the-art machine learning models to deliver accurate and efficient results.</p>
      </div>
      <div class="mb-2">
        <h3 class="text-2xl font-bold">Technologies Used</h3>
        <ul class="list-none">
          <li class="flex items-center mb-2">
            <img src="assets/angular-logo.png" alt="Angular Logo" class="w-6 h-6 mr-2">
            Angular for the frontend framework
          </li>
          <li class="flex items-center mb-2">
            <img src="assets/fastapi-logo.png" alt="FastAPI Logo" class="w-6 h-6 mr-2">
            FastAPI and Flask for backend APIs
          </li>
          <li class="flex items-center mb-2">
            <img src="assets/transformers-logo.png" alt="Transformers Logo" class="w-6 h-6 mr-2">
            Transformers and SpeechBrain for machine learning models
          </li>
          <li class="flex items-center mb-2">
            <img src="assets/flasgger-logo.png" alt="Flasgger Logo" class="w-6 h-6 mr-2">
            Flasgger for API documentation
          </li>
          <li class="flex items-center mb-2">
            <img src="assets/docker-logo.png" alt="Docker Logo" class="w-6 h-6 mr-2">
            Docker for containerization
          </li>
        </ul>
      </div>
      <div class="mb-2">
        <h3 class="text-2xl font-bold">Contact Information</h3>
        <p>If you have any questions or need further information, please contact Toumi Nassim at <a href="mailto:nassim.toumi@esprit.tn" class="text-blue-500 hover:text-blue-700">MY MAIL</a>.</p>
      </div>
    </div>
  </div>
  