<header class="bg-white fixed top-0 left-0 w-full z-50 transition-all duration-300">
  <nav class="bg-white mx-auto flex max-w-7xl items-center justify-between py-2 px-3 lg:px-4" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="/home" class="-m-0.5 p-0.5 flex text-sm font-mono">
        <img class="h-5 w-auto" src="../../assets/img/LinguoNavBar.png" alt="Linguo Logo" style="width: 100px; height: auto;">
      </a>
    </div>
    <div class="flex lg:hidden">
      <button type="button" class="-m-2 inline-flex items-center justify-center rounded-md p-2 text-gray-700">
        <span class="sr-only">Open main menu</span>
        <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-6">
      <a href="/home" class="text-xs font-semibold leading-4 text-gray-900">Home</a>
      <a href="/home" class="text-xs font-semibold leading-4 text-gray-900">Models</a>
      <a href="/combo" class="text-xs font-semibold leading-4 text-gray-900">Your Composition</a>
      <a href="/about" class="text-xs font-semibold leading-4 text-gray-900">About Us</a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a href="/signUp" class="text-xs font-semibold leading-4 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
    </div>
  </nav>
</header>


