<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/">Hello !</a>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/speech-to-text">Speech to Text</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/text-to-speech">Text to Speech</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/text-to-image">Text to Image</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">About</a>
                </li>
            </ul>
            <ul class="navbar-nav social-links">
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com"><i class="fa fa-linkedin"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://facebook.com"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://instagram.com"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com"><i class="fa fa-github"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
