<header class="bg-white fixed top-0 left-0 w-full z-50 transition-all duration-300">
  <nav class="bg-white mx-auto flex max-w-7xl items-center justify-between py-2 px-3 lg:px-4" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="/home" class="-m-0.5 p-0.5 flex text-sm font-mono">
        <img class="h-5 w-auto" src="../../assets/img/LinguoNavBar.png" alt="Linguo Logo" style="width: 100px; height: auto;">
      </a>
    </div>
    <div class="hidden lg:flex lg:gap-x-6 items-center">
      <a href="/home" class="text-xs font-semibold leading-4 text-gray-900">Home</a>

      <!-- Dropdown for Models -->
      <div class="relative group">
        <span class="text-xs font-semibold leading-4 text-gray-900 inline-flex items-center cursor-pointer">
          Models
          <!-- Dropdown Icon -->
          <svg class="ml-1 h-4 w-4 text-gray-900" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
        </span>

        <div class="absolute left-0 mt-2 w-40 bg-white border border-gray-200 rounded-md shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-200 z-10">
          <a href="/stt" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">STT</a>
          <a href="/tts" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">TTS</a>
          <a href="/ner" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">NER</a>
          <a href="/emotion" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Emotion</a>
          <a href="/punctuation" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Punctuation</a>
        </div>
      </div>

      <a href="/combo" class="text-xs font-semibold leading-4 text-gray-900">Your Composition</a>
      <a href="/about" class="text-xs font-semibold leading-4 text-gray-900">About Us</a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a href="/signUp" class="text-xs font-semibold leading-4 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
    </div>
  </nav>
</header>
