<!-- <app-language-select></app-language-select>
<app-graphe></app-graphe>
<app-transcription></app-transcription> -->
<!-- <app-login></app-login> -->
 <!-- <app-sign-up></app-sign-up> -->
 <div class="flex-grow h-auto p-4 bg-black flex justify-center items-center relative font-roboto">

    
    <!-- Background Image -->
<!-- <app-language-select></app-language-select>
<app-graphe></app-graphe>
<app-transcription></app-transcription> -->
<!-- <app-login></app-login> -->
 <!-- <app-sign-up></app-sign-up> -->
 <div class="flex-grow h-auto p-4 bg-black flex justify-center items-center relative font-roboto">

    
    <!-- Background Image -->
<div class="fixed   h-[100%] w-[100%]  right-0 bottom-0 bg-no-repeat opacity-40 bg-right bg-contain" style="background-image: url('../../assets/img/2ecb8a4292885d97a4ab33999d173fe7.jpg');"></div>
<div class="flex flex-col ">

<div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
  @for (timePeriod of timePeriods; track timePeriod) {
    <div class="example-box" cdkDrag>{{timePeriod}}</div>
  }
</div>
      
</div>

   
        
    
</div>


    


</div>


    

